.user-container {
    /* border-bottom: 0.3px solid gray; */
    text-align: center;
    padding:50px;

}
.user-container img {
    width:300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px  gray;
}
button {
    background-color:rgba(196, 187, 187, 0.788);
    width:250px;
    border: 1px solid #fff;
    padding:8px;
    cursor:pointer;
    color: #1f2124;
    font-weight: bold;
    border-radius: 3px;
    font-size: 30px;
}